

    :root{
       
    --branco: white;
    --cor-de-fundo: #321794;
    --fundo-senha: #e42f17;
    --fundo-texto: #3372b9;
    --borda: #550f3863;
    --robota: 'roboto mono' monospace;
     }
     
    body{ 
        color:var(--branco);
        background-color:var(--cor-de-fundo);
        font-family: var(--roboto);

    }

  .titulo-principal{

    font-family:var(--robota-mono) ;
    font-size: 32px;
    
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{

    text-align: center;
    margin-top: 80px;
}

